{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Event creation!</h1>

    {{ form_start(form) }}
    <input name="foo" value="bar" />
    {{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('event') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
